* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
  height: 300px;
  margin: 20px;
}